.bg-main {
    /*background-color: #992164;*/
    /* background-color: #4c247e; */
    /*background-color: #3700B3;*/
    /* background-color: darkslategray; */
}

.bg-tile {
    /*background-color: #d62a71;*/
    /* background-color: #783199; */
    background-color: slategray;
    border-radius: 15px;
    /*background-color: #6200EE;*/
}

/* a:not(.btn),
a:hover:not(.btn) {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
} */


/* p, a {
    font-size: 13pt;
    font-weight: 400;
} */

h3 {
    font-size: 24px;
    font-weight: 300;
}

.contents {
    position: sticky;
    top: 0;
}